.main {
    background-color: rgb(230, 220, 180);
}

.main::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-image: url(https://preview.redd.it/4tto9rk57u661.png?width=640&crop=smart&auto=webp&s=be0da9c130f561763a4faf3164ae0057d623ee38); /* leave this empty to specify your image URL */
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    opacity: 0.2; /* Set the opacity of the background image */
    z-index: -1; /* Place the pseudo-element behind the content */
}

.img {
    height: 250px;
    width: auto;
}

.bbody {
    background-image: url(https://wallpapers.com/images/featured/giza-pyramids-frygia9m5ggjhaz1.jpg);
    background-size: cover;
    height: 100vh;
    background-attachment: fixed;
}

.dbody {
    background-image: url(https://static.vecteezy.com/system/resources/previews/027/807/580/large_2x/spooky-halloween-wallpaper-with-pumpkin-and-old-house-free-photo.jpg);
    background-image: cover;
    background-attachment: fixed;
}

.dtext {
    color: rgb(202, 200, 200);
}

.mbody {
    background-image: url(https://wallpapercave.com/wp/wp2763352.jpg);
    background-image: cover;
    height: 100vh;
    width: 100vh;
    margin: 0;
    background-repeat: no-repeat;
    background-attachment: fixed;
}

.ibody {
    background-image: url(https://wallpaper.forfun.com/fetch/d9/d9c6f95bc62c86ab89acc676c530b5cc.jpeg);
    background-image: cover;
    background-size: 100% 100%;
    background-attachment: fixed;
}

.image {
    height: auto;
    width: 50px;
}

#ice {
    color: rgb(85, 195, 240);
}


#death {
    color: black;
}


#myth {
    color: rgb(179, 152, 0);
}


#balance {
    color: rgb(202, 100, 87);
}

